doctype html
html
	head
		meta( charset="utf-8" )
		block title
			if heading
				title #{ heading } - #{ organisation }
			else
				title #{ organisation }
		block head
			block css
				link( rel="stylesheet", href="/css/bootstrap.min.css" )
				link( rel="stylesheet", href="/css/style.css" )
			block js
				script( src="/js/jquery.min.js" )
				script( src="/js/bootstrap.min.js" )
				script( src="/js/script.js" )
	body
		block body
			.container
				.row
					include partials/navbar.pug
					block heading
						if heading
							h1.page-header #{ heading }
					block content
